@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="margin-top:25px;">
    <h2 class="m-2 text-info splash-title">BATTLESHIP</h2>
    <img style="height:600px;" src="http://drive.google.com/uc?export=view&id=1qwXcT8zyKQOorx-BP4HRMD-WE3R_xgiM">
</div>
